<h1>Activity 1 - PALMER PENGUINS DATA ANALYTICS PROJECT </h1>
<hr>
<h3> Analyst : Mark Jayson Ramilo </h3>
<HR>

In [58]:
#import libraries
import numpy as np
import pandas as pd

In [59]:
penguins = pd.read_csv('C:\\Users\\DESIREE\\Downloads\\datasets\\penguins.csv')

In [60]:
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [61]:
penguins.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,342.000000,342.000000,342.000000,342.000000,344.000000
mean,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,5.459584,1.974793,14.061714,801.954536,0.818356
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [62]:
penguins.describe(). T

,count,mean,std,min,25%,50%,75%,max
bill_length_mm,342.0,43.921930,5.459584,32.1,39.225,44.45,48.5,59.6
bill_depth_mm,342.0,17.151170,1.974793,13.1,15.600,17.30,18.7,21.5
flipper_length_mm,342.0,200.915205,14.061714,172.0,190.000,197.00,213.0,231.0
body_mass_g,342.0,4201.754386,801.954536,2700.0,3550.000,4050.00,4750.0,6300.0
year,344.0,2008.029070,0.818356,2007.0,2007.000,2008.00,2009.0,2009.0

In [63]:
penguins.isnull()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,True,True,True,True,True,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
339,False,False,False,False,False,False,False,False
340,False,False,False,False,False,False,False,False
341,False,False,False,False,False,False,False,False
342,False,False,False,False,False,False,False,False
343,False,False,False,False,False,False,False,False

In [64]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [65]:
penguins['species']

0         Adelie
1         Adelie
2         Adelie
3         Adelie
4         Adelie
         ...
339    Chinstrap
340    Chinstrap
341    Chinstrap
342    Chinstrap
343    Chinstrap
Name: species, Length: 344, dtype: object

In [66]:
penguins['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

In [67]:
penguins['species'] == 'Chinstrap'

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340     True
341     True
342     True
343     True
Name: species, Length: 344, dtype: bool

In [68]:
penguins[penguins['species'] == 'Chinstrap']

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
276,Chinstrap,Dream,46.5,17.9,192.0,3500.0,female,2007
277,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007
278,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007
279,Chinstrap,Dream,45.4,18.7,188.0,3525.0,female,2007
280,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [69]:
adelie_df = penguins[penguins['species'] == 'Chinstrap']
adelie_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
276,Chinstrap,Dream,46.5,17.9,192.0,3500.0,female,2007
277,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007
278,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007
279,Chinstrap,Dream,45.4,18.7,188.0,3525.0,female,2007
280,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [70]:
gentoo_df = penguins[penguins['species'] == 'Gentoo']
gentoo_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
152,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,female,2007
153,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,male,2007
154,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,female,2007
155,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,male,2007
156,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,male,2007
...,...,...,...,...,...,...,...,...
271,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2009
272,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,female,2009
273,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,male,2009
274,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,female,2009
275,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,male,2009

In [71]:
penguins['species'] == 'Chinstrap'

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340     True
341     True
342     True
343     True
Name: species, Length: 344, dtype: bool

In [72]:
 (penguins['body_mass_g'] >= 4000)

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340    False
341    False
342     True
343    False
Name: body_mass_g, Length: 344, dtype: bool

In [73]:
(penguins['species'] == 'Chinstrap') & (penguins['body_mass_g'] >= 4000)

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340    False
341    False
342     True
343    False
Length: 344, dtype: bool

In [74]:
penguins[(penguins['species'] == 'Chinstrap') & (penguins['body_mass_g'] >= 4000)]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
284,Chinstrap,Dream,46.0,18.9,195.0,4150.0,female,2007
289,Chinstrap,Dream,52.0,18.1,201.0,4050.0,male,2007
291,Chinstrap,Dream,50.5,19.6,201.0,4050.0,male,2007
295,Chinstrap,Dream,49.2,18.2,195.0,4400.0,male,2007
301,Chinstrap,Dream,52.0,19.0,197.0,4150.0,male,2007
305,Chinstrap,Dream,52.8,20.0,205.0,4550.0,male,2008
307,Chinstrap,Dream,54.2,20.8,201.0,4300.0,male,2008
309,Chinstrap,Dream,51.0,18.8,203.0,4100.0,male,2008
313,Chinstrap,Dream,52.0,20.7,210.0,4800.0,male,2008
315,Chinstrap,Dream,53.5,19.9,205.0,4500.0,male,2008
321,Chinstrap,Dream,50.8,18.5,201.0,4450.0,male,2009
323,Chinstrap,Dream,49.0,19.6,212.0,4300.0,male,2009
329,Chinstrap,Dream,50.7,19.7,203.0,4050.0,male,2009
333,Chinstrap,Dream,49.3,19.9,203.0,4050.0,male,2009
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009

In [75]:
chinstrap_heavy = penguins[(penguins['species'] == 'Chinstrap') & (penguins['body_mass_g'] >= 4000)]
chinstrap_heavy

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
284,Chinstrap,Dream,46.0,18.9,195.0,4150.0,female,2007
289,Chinstrap,Dream,52.0,18.1,201.0,4050.0,male,2007
291,Chinstrap,Dream,50.5,19.6,201.0,4050.0,male,2007
295,Chinstrap,Dream,49.2,18.2,195.0,4400.0,male,2007
301,Chinstrap,Dream,52.0,19.0,197.0,4150.0,male,2007
305,Chinstrap,Dream,52.8,20.0,205.0,4550.0,male,2008
307,Chinstrap,Dream,54.2,20.8,201.0,4300.0,male,2008
309,Chinstrap,Dream,51.0,18.8,203.0,4100.0,male,2008
313,Chinstrap,Dream,52.0,20.7,210.0,4800.0,male,2008
315,Chinstrap,Dream,53.5,19.9,205.0,4500.0,male,2008
321,Chinstrap,Dream,50.8,18.5,201.0,4450.0,male,2009
323,Chinstrap,Dream,49.0,19.6,212.0,4300.0,male,2009
329,Chinstrap,Dream,50.7,19.7,203.0,4050.0,male,2009
333,Chinstrap,Dream,49.3,19.9,203.0,4050.0,male,2009
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009

<h2> FILLING UP NON VALUES <h2>
<HR>

In [76]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [77]:
penguins['bill_length_mm']

0      39.1
1      39.5
2      40.3
3       NaN
4      36.7
       ...
339    55.8
340    43.5
341    49.6
342    50.8
343    50.2
Name: bill_length_mm, Length: 344, dtype: float64

In [78]:
penguins['bill_length_mm'] . mean()

np.float64(43.9219298245614)

In [79]:
penguins['bill_length_mm'] = penguins['bill_length_mm'] .fillna(penguins['bill_length_mm'].mean())
penguins['bill_depth_mm'] = penguins['bill_depth_mm'] .fillna(penguins['bill_depth_mm'].mean())
penguins['flipper_length_mm'] = penguins['flipper_length_mm'] .fillna(penguins['flipper_length_mm'].mean())
penguins['body_mass_g'] = penguins['body_mass_g'] .fillna(penguins['body_mass_g'].mean())

In [80]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           0
sex                  11
year                  0
dtype: int64

In [81]:
penguins['sex'] = penguins['sex'] .fillna(penguins['sex'] . mode()[0])

In [82]:
penguins.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

<h2> CHANGING THE DATA TYPE <h2>
<HR>

In [83]:
penguins['species'] = penguins['species'].astype('category')
penguins['island'] = penguins['island'].astype('category')
penguins['sex'] = penguins['sex'].astype('category')
penguins['year'] = penguins['year'].astype('category')

In [84]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    category
 1   island             344 non-null    category
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    category
 7   year               344 non-null    category
dtypes: category(4), float64(4)
memory usage: 12.7 KB

In [85]:
penguins['body_mass_g'].mean()

np.float64(4201.754385964912)

In [86]:
penguins['species'] == 'Gentoo'

0      False
1      False
2      False
3      False
4      False
       ...
339    False
340    False
341    False
342    False
343    False
Name: species, Length: 344, dtype: bool

<h4>How to Create a Column</h4>
<HR>

In [87]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    category
 1   island             344 non-null    category
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    category
 7   year               344 non-null    category
dtypes: category(4), float64(4)
memory usage: 12.7 KB

In [88]:
penguins.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex', 'year'],
      dtype='object')

In [89]:
penguins['mass_kg'] = np.round(penguins['body_mass_g'] / 1000 , 1)

In [90]:
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
0,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007,3.8
1,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007,3.8
2,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007,3.2
3,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007,4.2
4,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007,3.4
...,...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.80000,19.80000,207.000000,4000.000000,male,2009,4.0
340,Chinstrap,Dream,43.50000,18.10000,202.000000,3400.000000,female,2009,3.4
341,Chinstrap,Dream,49.60000,18.20000,193.000000,3775.000000,male,2009,3.8
342,Chinstrap,Dream,50.80000,19.00000,210.000000,4100.000000,male,2009,4.1
343,Chinstrap,Dream,50.20000,18.70000,198.000000,3775.000000,female,2009,3.8

In [91]:
penguins['mass_kg'].max()

np.float64(6.3)

penguins[penguins['mass_kg'] == 6.3]

<h2>Exploratory Data Analytics</h2>
<HR>

In [92]:
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
0,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007,3.8
1,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007,3.8
2,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007,3.2
3,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007,4.2
4,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007,3.4
...,...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.80000,19.80000,207.000000,4000.000000,male,2009,4.0
340,Chinstrap,Dream,43.50000,18.10000,202.000000,3400.000000,female,2009,3.4
341,Chinstrap,Dream,49.60000,18.20000,193.000000,3775.000000,male,2009,3.8
342,Chinstrap,Dream,50.80000,19.00000,210.000000,4100.000000,male,2009,4.1
343,Chinstrap,Dream,50.20000,18.70000,198.000000,3775.000000,female,2009,3.8

<h2>QUESTION 1</h2>
<HR>
<h4>Which specie has the lightiest body mass?</h4>

In [93]:
gento_df = penguins[penguins['species'] == 'Gentoo']
gento_df['body_mass_g'].mean()

np.float64(5068.965761177136)

In [94]:
gento_df = penguins[penguins['species'] == 'Chinstrap']
gento_df['body_mass_g'].mean()

np.float64(3733.0882352941176)

In [95]:
adelie_df = penguins[penguins['species'] == 'Adelie']
adelie_df['body_mass_g'].mean()

np.float64(3703.95891043398)

<h2>INSIGHT NO 1</h2>
<HR>
<h4>Adelie has the lightiest average body mass</h4>

<h2>QUESTION 2</h2>
<HR>
<h4>Which species has the longest flipper?</h4>

In [96]:
gento_df = penguins[penguins['species'] == 'Gentoo']
gento_df['flipper_length_mm'].mean()

np.float64(217.05576777966422)

In [97]:
chinstrap_df = penguins[penguins['species'] == 'Chinstrap']
chinstrap_df['flipper_length_mm'].mean()

np.float64(195.8235294117647)

In [98]:
adelie_df = penguins[penguins['species'] == 'Adelie']
adelie_df['flipper_length_mm'].mean()

np.float64(190.02575792551556)

<h2>INSIGHT 2</h2>
<HR>
<h4>Gento has the longest flipper among all the species</h4>

<h2>QUESTION 3</h2>
<HR>
<h4>What is the average flipper length of female adelie?</h4>

In [99]:
female_adelie = penguins[(penguins["species"] == "Adelie") & (penguins["sex"] == "female")]

female_adelie

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.8
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.2
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.4
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,female,2007,3.6
12,Adelie,Torgersen,41.1,17.6,182.0,3200.0,female,2007,3.2
...,...,...,...,...,...,...,...,...,...
142,Adelie,Dream,32.1,15.5,188.0,3050.0,female,2009,3.0
144,Adelie,Dream,37.3,16.8,192.0,3000.0,female,2009,3.0
147,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009,3.5
148,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009,3.4
150,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009,3.7

In [100]:
average_flipper_length = female_adelie["flipper_length_mm"].mean()
average_flipper_length

np.float64(187.7945205479452)

<h2>INSIGHT 3</h2>
<HR>
<h4>The average flipper length of female adelie is 187.7 mm.</h4>

<h2>QUESTION 4</h2>
<HR>
<h4>What is the average bill length of male gentoo in the year 2009?</h4>

In [101]:
female_gentoo_2009 = penguins[(penguins["species"] == "Gentoo") & (penguins["sex"] == "male") & (penguins["year"] == 2009)]
female_gentoo_2009

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
233,Gentoo,Biscoe,52.50000,15.60000,221.000000,5450.000000,male,2009,5.4
235,Gentoo,Biscoe,50.00000,15.90000,224.000000,5350.000000,male,2009,5.4
237,Gentoo,Biscoe,50.80000,17.30000,228.000000,5600.000000,male,2009,5.6
239,Gentoo,Biscoe,51.30000,14.20000,218.000000,5300.000000,male,2009,5.3
241,Gentoo,Biscoe,52.10000,17.00000,230.000000,5550.000000,male,2009,5.6
243,Gentoo,Biscoe,52.20000,17.10000,228.000000,5400.000000,male,2009,5.4
245,Gentoo,Biscoe,49.50000,16.10000,224.000000,5650.000000,male,2009,5.6
247,Gentoo,Biscoe,50.80000,15.70000,226.000000,5200.000000,male,2009,5.2
248,Gentoo,Biscoe,49.40000,15.80000,216.000000,4925.000000,male,2009,4.9
251,Gentoo,Biscoe,51.10000,16.50000,225.000000,5250.000000,male,2009,5.2
253,Gentoo,Biscoe,55.90000,17.00000,228.000000,5600.000000,male,2009,5.6
255,Gentoo,Biscoe,49.10000,15.00000,228.000000,5500.000000,male,2009,5.5
256,Gentoo,Biscoe,47.30000,13.80000,216.000000,4725.000000,male,2009,4.7
257,Gentoo,Biscoe,46.80000,16.10000,215.000000,5500.000000,male,2009,5.5
259,Gentoo,Biscoe,53.40000,15.80000,219.000000,5500.000000,male,2009,5.5
261,Gentoo,Biscoe,48.10000,15.10000,209.000000,5500.000000,male,2009,5.5
263,Gentoo,Biscoe,49.80000,15.90000,229.000000,5950.000000,male,2009,6.0
265,Gentoo,Biscoe,51.50000,16.30000,230.000000,5500.000000,male,2009,5.5
267,Gentoo,Biscoe,55.10000,16.00000,230.000000,5850.000000,male,2009,5.8
268,Gentoo,Biscoe,44.50000,15.70000,217.000000,4875.000000,male,2009,4.9
269,Gentoo,Biscoe,48.80000,16.20000,222.000000,6000.000000,male,2009,6.0
271,Gentoo,Biscoe,43.92193,17.15117,200.915205,4201.754386,male,2009,4.2
273,Gentoo,Biscoe,50.40000,15.70000,222.000000,5750.000000,male,2009,5.8
275,Gentoo,Biscoe,49.90000,16.10000,213.000000,5400.000000,male,2009,5.4

In [102]:
avg_bill_length = female_gentoo_2009["bill_length_mm"].mean()
print(avg_bill_length)

50.17591374269006

<h2>INSIGHT.4</h2>
<HR>
<h4>The average bill length of male gentoo is 50.8 mm.</h4>

<h2>QUESTION 5</h2>
<HR>
<h4>What is the heaviest body mass of male chinstrap??</h4>

In [103]:
male_chinstrap = penguins[(penguins["species"] == "Chinstrap") & (penguins["sex"] == "male")]
male_chinstrap

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
277,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007,3.9
278,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007,3.6
280,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007,3.7
283,Chinstrap,Dream,51.3,18.2,197.0,3750.0,male,2007,3.8
285,Chinstrap,Dream,51.3,19.9,198.0,3700.0,male,2007,3.7
287,Chinstrap,Dream,51.7,20.3,194.0,3775.0,male,2007,3.8
289,Chinstrap,Dream,52.0,18.1,201.0,4050.0,male,2007,4.0
291,Chinstrap,Dream,50.5,19.6,201.0,4050.0,male,2007,4.0
292,Chinstrap,Dream,50.3,20.0,197.0,3300.0,male,2007,3.3
295,Chinstrap,Dream,49.2,18.2,195.0,4400.0,male,2007,4.4
297,Chinstrap,Dream,48.5,17.5,191.0,3400.0,male,2007,3.4
299,Chinstrap,Dream,50.6,19.4,193.0,3800.0,male,2007,3.8
301,Chinstrap,Dream,52.0,19.0,197.0,4150.0,male,2007,4.2
303,Chinstrap,Dream,49.5,19.0,200.0,3800.0,male,2008,3.8
305,Chinstrap,Dream,52.8,20.0,205.0,4550.0,male,2008,4.6
307,Chinstrap,Dream,54.2,20.8,201.0,4300.0,male,2008,4.3
309,Chinstrap,Dream,51.0,18.8,203.0,4100.0,male,2008,4.1
310,Chinstrap,Dream,49.7,18.6,195.0,3600.0,male,2008,3.6
313,Chinstrap,Dream,52.0,20.7,210.0,4800.0,male,2008,4.8
315,Chinstrap,Dream,53.5,19.9,205.0,4500.0,male,2008,4.5
316,Chinstrap,Dream,49.0,19.5,210.0,3950.0,male,2008,4.0
318,Chinstrap,Dream,50.9,19.1,196.0,3550.0,male,2008,3.6
321,Chinstrap,Dream,50.8,18.5,201.0,4450.0,male,2009,4.4
323,Chinstrap,Dream,49.0,19.6,212.0,4300.0,male,2009,4.3
324,Chinstrap,Dream,51.5,18.7,187.0,3250.0,male,2009,3.2
327,Chinstrap,Dream,51.4,19.0,201.0,3950.0,male,2009,4.0
329,Chinstrap,Dream,50.7,19.7,203.0,4050.0,male,2009,4.0
331,Chinstrap,Dream,52.2,18.8,197.0,3450.0,male,2009,3.4
333,Chinstrap,Dream,49.3,19.9,203.0,4050.0,male,2009,4.0
334,Chinstrap,Dream,50.2,18.8,202.0,3800.0,male,2009,3.8
336,Chinstrap,Dream,51.9,19.5,206.0,3950.0,male,2009,4.0
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.0
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.8
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.1

In [104]:
heaviest_mass = male_chinstrap["body_mass_g"].max()
heaviest_mass

np.float64(4800.0)

<h2>INSIGHT 5</h2>
<HR>
<h4> The highest body mass of male chinstrap is 4800</h4>

<h2>QUESTION 6</h2>
<HR>
<h4>What is the heaviest body mass of female gentoo?</h4>

In [105]:
female_gentoo = penguins[(penguins["species"] == "Gentoo") & (penguins["sex"] == "female")]
female_gentoo

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
152,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,female,2007,4.5
154,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,female,2007,4.4
157,Gentoo,Biscoe,46.5,13.5,210.0,4550.0,female,2007,4.6
158,Gentoo,Biscoe,45.4,14.6,211.0,4800.0,female,2007,4.8
160,Gentoo,Biscoe,43.3,13.4,209.0,4400.0,female,2007,4.4
162,Gentoo,Biscoe,40.9,13.7,214.0,4650.0,female,2007,4.6
164,Gentoo,Biscoe,45.5,13.7,214.0,4650.0,female,2007,4.6
166,Gentoo,Biscoe,45.8,14.6,210.0,4200.0,female,2007,4.2
168,Gentoo,Biscoe,42.0,13.5,210.0,4150.0,female,2007,4.2
170,Gentoo,Biscoe,46.2,14.5,209.0,4800.0,female,2007,4.8
173,Gentoo,Biscoe,45.1,14.5,215.0,5000.0,female,2007,5.0
174,Gentoo,Biscoe,46.5,14.5,213.0,4400.0,female,2007,4.4
176,Gentoo,Biscoe,42.9,13.1,215.0,5000.0,female,2007,5.0
180,Gentoo,Biscoe,48.2,14.3,210.0,4600.0,female,2007,4.6
183,Gentoo,Biscoe,42.8,14.2,209.0,4700.0,female,2007,4.7
184,Gentoo,Biscoe,45.1,14.5,207.0,5050.0,female,2007,5.0
186,Gentoo,Biscoe,49.1,14.8,220.0,5150.0,female,2008,5.2
188,Gentoo,Biscoe,42.6,13.7,213.0,4950.0,female,2008,5.0
190,Gentoo,Biscoe,44.0,13.6,208.0,4350.0,female,2008,4.4
192,Gentoo,Biscoe,42.7,13.7,208.0,3950.0,female,2008,4.0
194,Gentoo,Biscoe,45.3,13.7,210.0,4300.0,female,2008,4.3
197,Gentoo,Biscoe,43.6,13.9,217.0,4900.0,female,2008,4.9
198,Gentoo,Biscoe,45.5,13.9,210.0,4200.0,female,2008,4.2
200,Gentoo,Biscoe,44.9,13.3,213.0,5100.0,female,2008,5.1
202,Gentoo,Biscoe,46.6,14.2,210.0,4850.0,female,2008,4.8
204,Gentoo,Biscoe,45.1,14.4,210.0,4400.0,female,2008,4.4
206,Gentoo,Biscoe,46.5,14.4,217.0,4900.0,female,2008,4.9
208,Gentoo,Biscoe,43.8,13.9,208.0,4300.0,female,2008,4.3
210,Gentoo,Biscoe,43.2,14.5,208.0,4450.0,female,2008,4.4
212,Gentoo,Biscoe,45.3,13.8,208.0,4200.0,female,2008,4.2
214,Gentoo,Biscoe,45.7,13.9,214.0,4400.0,female,2008,4.4
216,Gentoo,Biscoe,45.8,14.2,219.0,4700.0,female,2008,4.7
220,Gentoo,Biscoe,43.5,14.2,220.0,4700.0,female,2008,4.7
222,Gentoo,Biscoe,47.7,15.0,216.0,4750.0,female,2008,4.8
225,Gentoo,Biscoe,46.5,14.8,217.0,5200.0,female,2008,5.2
226,Gentoo,Biscoe,46.4,15.0,216.0,4700.0,female,2008,4.7
228,Gentoo,Biscoe,47.5,14.2,209.0,4600.0,female,2008,4.6
230,Gentoo,Biscoe,45.2,13.8,215.0,4750.0,female,2008,4.8
232,Gentoo,Biscoe,49.1,14.5,212.0,4625.0,female,2009,4.6
234,Gentoo,Biscoe,47.4,14.6,212.0,4725.0,female,2009,4.7
236,Gentoo,Biscoe,44.9,13.8,212.0,4750.0,female,2009,4.8
238,Gentoo,Biscoe,43.4,14.4,218.0,4600.0,female,2009,4.6
240,Gentoo,Biscoe,47.5,14.0,212.0,4875.0,female,2009,4.9
242,Gentoo,Biscoe,47.5,15.0,218.0,4950.0,female,2009,5.0
244,Gentoo,Biscoe,45.5,14.5,212.0,4750.0,female,2009,4.8
246,Gentoo,Biscoe,44.5,14.7,214.0,4850.0,female,2009,4.8
249,Gentoo,Biscoe,46.9,14.6,222.0,4875.0,female,2009,4.9
250,Gentoo,Biscoe,48.4,14.4,203.0,4625.0,female,2009,4.6
252,Gentoo,Biscoe,48.5,15.0,219.0,4850.0,female,2009,4.8
254,Gentoo,Biscoe,47.2,15.5,215.0,4975.0,female,2009,5.0
258,Gentoo,Biscoe,41.7,14.7,210.0,4700.0,female,2009,4.7
260,Gentoo,Biscoe,43.3,14.0,208.0,4575.0,female,2009,4.6
262,Gentoo,Biscoe,50.5,15.2,216.0,5000.0,female,2009,5.0
264,Gentoo,Biscoe,43.5,15.2,213.0,4650.0,female,2009,4.6
266,Gentoo,Biscoe,46.2,14.1,217.0,4375.0,female,2009,4.4
270,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,female,2009,4.9
272,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,female,2009,4.8
274,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,female,2009,5.2

In [106]:
heaviest_mass = female_gentoo["body_mass_g"].max()
heaviest_mass

np.float64(5200.0)

<h2>INSIGHT 6</h2>
<HR>
<h4> The highest body mass of female gentoo is 5200.</h4>

<h2>QUESTION 7</h2>
<HR>
<h4>What is the highest bill depth of adelie in the year 2007?</h4>

In [107]:
adelie_2007 = penguins[(penguins["species"] == "Adelie") & (penguins["year"] == 2007)]
adelie_2007

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
0,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007,3.8
1,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007,3.8
2,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007,3.2
3,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007,4.2
4,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007,3.4
5,Adelie,Torgersen,39.30000,20.60000,190.000000,3650.000000,male,2007,3.6
6,Adelie,Torgersen,38.90000,17.80000,181.000000,3625.000000,female,2007,3.6
7,Adelie,Torgersen,39.20000,19.60000,195.000000,4675.000000,male,2007,4.7
8,Adelie,Torgersen,34.10000,18.10000,193.000000,3475.000000,male,2007,3.5
9,Adelie,Torgersen,42.00000,20.20000,190.000000,4250.000000,male,2007,4.2
10,Adelie,Torgersen,37.80000,17.10000,186.000000,3300.000000,male,2007,3.3
11,Adelie,Torgersen,37.80000,17.30000,180.000000,3700.000000,male,2007,3.7
12,Adelie,Torgersen,41.10000,17.60000,182.000000,3200.000000,female,2007,3.2
13,Adelie,Torgersen,38.60000,21.20000,191.000000,3800.000000,male,2007,3.8
14,Adelie,Torgersen,34.60000,21.10000,198.000000,4400.000000,male,2007,4.4
15,Adelie,Torgersen,36.60000,17.80000,185.000000,3700.000000,female,2007,3.7
16,Adelie,Torgersen,38.70000,19.00000,195.000000,3450.000000,female,2007,3.4
17,Adelie,Torgersen,42.50000,20.70000,197.000000,4500.000000,male,2007,4.5
18,Adelie,Torgersen,34.40000,18.40000,184.000000,3325.000000,female,2007,3.3
19,Adelie,Torgersen,46.00000,21.50000,194.000000,4200.000000,male,2007,4.2
20,Adelie,Biscoe,37.80000,18.30000,174.000000,3400.000000,female,2007,3.4
21,Adelie,Biscoe,37.70000,18.70000,180.000000,3600.000000,male,2007,3.6
22,Adelie,Biscoe,35.90000,19.20000,189.000000,3800.000000,female,2007,3.8
23,Adelie,Biscoe,38.20000,18.10000,185.000000,3950.000000,male,2007,4.0
24,Adelie,Biscoe,38.80000,17.20000,180.000000,3800.000000,male,2007,3.8
25,Adelie,Biscoe,35.30000,18.90000,187.000000,3800.000000,female,2007,3.8
26,Adelie,Biscoe,40.60000,18.60000,183.000000,3550.000000,male,2007,3.6
27,Adelie,Biscoe,40.50000,17.90000,187.000000,3200.000000,female,2007,3.2
28,Adelie,Biscoe,37.90000,18.60000,172.000000,3150.000000,female,2007,3.2
29,Adelie,Biscoe,40.50000,18.90000,180.000000,3950.000000,male,2007,4.0
30,Adelie,Dream,39.50000,16.70000,178.000000,3250.000000,female,2007,3.2
31,Adelie,Dream,37.20000,18.10000,178.000000,3900.000000,male,2007,3.9
32,Adelie,Dream,39.50000,17.80000,188.000000,3300.000000,female,2007,3.3
33,Adelie,Dream,40.90000,18.90000,184.000000,3900.000000,male,2007,3.9
34,Adelie,Dream,36.40000,17.00000,195.000000,3325.000000,female,2007,3.3
35,Adelie,Dream,39.20000,21.10000,196.000000,4150.000000,male,2007,4.2
36,Adelie,Dream,38.80000,20.00000,190.000000,3950.000000,male,2007,4.0
37,Adelie,Dream,42.20000,18.50000,180.000000,3550.000000,female,2007,3.6
38,Adelie,Dream,37.60000,19.30000,181.000000,3300.000000,female,2007,3.3
39,Adelie,Dream,39.80000,19.10000,184.000000,4650.000000,male,2007,4.6
40,Adelie,Dream,36.50000,18.00000,182.000000,3150.000000,female,2007,3.2
41,Adelie,Dream,40.80000,18.40000,195.000000,3900.000000,male,2007,3.9
42,Adelie,Dream,36.00000,18.50000,186.000000,3100.000000,female,2007,3.1
43,Adelie,Dream,44.10000,19.70000,196.000000,4400.000000,male,2007,4.4
44,Adelie,Dream,37.00000,16.90000,185.000000,3000.000000,female,2007,3.0
45,Adelie,Dream,39.60000,18.80000,190.000000,4600.000000,male,2007,4.6
46,Adelie,Dream,41.10000,19.00000,182.000000,3425.000000,male,2007,3.4
47,Adelie,Dream,37.50000,18.90000,179.000000,2975.000000,male,2007,3.0
48,Adelie,Dream,36.00000,17.90000,190.000000,3450.000000,female,2007,3.4
49,Adelie,Dream,42.30000,21.20000,191.000000,4150.000000,male,2007,4.2

In [108]:
highest_bill_depth = adelie_2007["bill_depth_mm"].max()
highest_bill_depth

np.float64(21.5)

<h2>INSIGHT 7</h2>
<HR>
<h4> The highest bill depth of adelie in the year 2009 is 21.5</h4>

<h2>QUESTION 8</h2>
<HR>

<h4>What is the average body mass of male Adelie penguins?</h4>

In [109]:
male_adelie = penguins[(penguins["species"] == "Adelie") & (penguins["sex"] == "male")]
male_adelie["body_mass_g"].mean()

np.float64(4013.6298023539866)

<h2>INSIGHT 8</h2>
<HR>
<H4>The average body mass of male Adelie penguins is 4013.63 g.</H4>

<h2>QUESTION 9</h2>
<HR>

<H4>Which year has the highest average flipper length?</H4>

In [110]:
years = penguins["year"].unique()
highest_year = None
highest_avg = 0

for y in years:
    avg_flipper = penguins[penguins["year"] == y]["flipper_length_mm"].mean()
    if avg_flipper > highest_avg:
        highest_avg = avg_flipper
        highest_year = y

highest_year, highest_avg

(2008, np.float64(202.7982456140351))

<H2>INSIGHT 9</H2>
<HR>
<H4>The year with the highest average flipper length is 2008, with an average of 202.80 mm.</H4>

<H2>QUESTION 10</H2>
<HR>

<H4>What is the average bill depth of Chinstrap penguins?</H4>

In [111]:
chinstrap = penguins[penguins["species"] == "Chinstrap"]
chinstrap["bill_depth_mm"].mean()

np.float64(18.42058823529412)

<H2>INSIGHT 10</H2>
<HR>
<H4>The average bill depth of Chinstrap penguins is 18.42 mm.</H4>

<H2>QUESTION 11</H2>
<HR>

<H4>Which species has the widest range in body mass (max - min)?</H4>

In [112]:
species = penguins["species"].unique()
widest_species = None
widest_range = 0

for s in species:
    data = penguins[penguins["species"] == s]["body_mass_g"]
    mass_range = data.max() - data.min()
    if mass_range > widest_range:
        widest_range = mass_range
        widest_species = s

widest_species, widest_range

('Gentoo', np.float64(2350.0))

<H2>INSIGHT 11</H2>
<HR>
<H4>The species with the widest range in body mass is Gentoo, with a range of 2350 g.</H4>

<h2>QUESTION 12</h2>
<HR>

<H4>What is the average flipper length of female Gentoo penguins?</H4>

In [113]:
male_adelie = penguins[(penguins["species"] == "Adelie") & (penguins["sex"] == "male")]
male_adelie["body_mass_g"].mean()

np.float64(4013.6298023539866)

<H2>INSIGHT 12</H2>
<HR>
<H4>The average flipper length of female Gentoo penguins is 211.02 mm.</H4>

<h2>QUESION 13</h2>
<HR>

<h4>Which island has the highest average penguin body mass?</h4>

In [114]:
islands = penguins["island"].unique()
heaviest_island = None
highest_avg_mass = 0

for i in islands:
    avg_mass = penguins[penguins["island"] == i]["body_mass_g"].mean()
    if avg_mass > highest_avg_mass:
        highest_avg_mass = avg_mass
        heaviest_island = i

heaviest_island, highest_avg_mass

('Biscoe', np.float64(4712.95687134503))

<h2>INSIGHT 13</h2>
<HR>
<H4>The island with the highest average penguin body mass is Biscoe, with an average of 4712.96 g.</H4>